.DevPage {
    padding: 2rem 0;
    .RevisionsList {
        margin-bottom: 2rem;
        a {
            text-decoration: none;
        }
    }
    // mobile phones styles
    // TODO: check if this is really a "xs" size or just "md"
    @media (max-width: 48rem) {
        .RevisionsList a {
            text-align: center;
        }
    }
}
