.IndexPage {
	.WelcomeCard {
		margin: 1rem -7px;
	}
	.MoodsList__item {
		margin-bottom: 1rem;
	}
	.MoodTabs, .MoodsList {
		margin-top: 2rem;
	}
	.MoodsInsert {
		right: 20px;
		bottom: 20px;
		z-index: 1000;
		position: fixed;
		margin-bottom: 0;
	}
}
