.MoodsList {
    .MoodsList__imgContainer {
        height: 350px;
        max-height: 350px;
        overflow: hidden;
    }
    .MoodsList__empty {
        text-align: center;
    }
    .MoodsList__pagination-wrapper {
        margin: 0 auto;
    }
}
