.SkillTabs {
    @media (max-width: 48rem) {
        // full width images        
        figure {
            margin-left: 0;
            margin-right: 0;
        }
        // full width images
        .rdw-image-imagewrapper {
            width: 100%;
            img {
                width: 100%;                
            }
        }
        .SkillTabs__tab {
            font-size: 11px !important;
        }
        .DraftEditor-editorContainer {
            padding: 0 1rem;
        }
    }
    // hide extra spacing of invisible toolbar
    .SkillTabs__editor-readOnly .rdw-editor-toolbar {
        display: none;
    }
    .rdw-image-imagewrapper img {
        max-width: 100%;
    }
}
