.SkillPage {
    // hide extra spacing of invisible toolbar
    .rdw-editor-toolbar {
        display: none;
    }
    .SkillPage__buttons {
        margin: 20px 0;
        .SkillPage__button--right {
            float: right;
        }
        .SkillPage__button--left {
            float: left;
        }
    }
}
