.SkillPage {
    // hide extra spacing of invisible toolbar
    .rdw-editor-toolbar {
        display: none;
    }
    .SkillPage__buttons {
        margin: 20px 0;
        .SkillPage__button--right {
            float: right;
        }
        .SkillPage__button--left {
            float: left;
        }
    }
    .SkillPage__logo {
        width: auto;
        max-height: 30vh;
        margin-bottom: 2rem;
    }
    .SkillPage__tabs {
        // margin-bottom: 2rem;
        margin-bottom: 20rem;
    }
    .SkillPage__edit-button {
        right: 20px;
		bottom: 20px;
		z-index: 1000;
		position: fixed;
		margin-bottom: 0;
    }
}
